<app-messages></app-messages>
<ul>
    <li>
        <i class="fa fa-user"></i> Name:
        <p>{{unserInfo.firstName}}</p>
    </li>
    <li>
        <i class="fa fa-user"></i> Last Name:
        <p>{{unserInfo.lastName}}</p>
    </li>
    <li>
        <i class="fa fa-home"></i> Home Number:
        <p>{{unserInfo.phoneNumbers.homeNumber}}</p> 
    </li>
    <li>
        <i class="fa fa-building"></i> Office Number:
        <p>{{unserInfo.phoneNumbers.officeNumber}}</p> 
    </li>
    <li>
        <i class="fa fa-briefcase"></i> Work Number:
        <p>{{unserInfo.phoneNumbers.workNumber}}</p> 
    </li>
</ul>
<app-bottom-nav></app-bottom-nav>

 