.button-wrapper{
    position: absolute;
    bottom: 10px;
    border:1px solid #ced4da;
    border-radius: 5px;

    a,
    button{
        background: none;
        border:1px solid transparent; 
        padding:0 15px;  
        font-weight: bold;
        color: #696464;
        display: block;
        float:left;
        text-align: center;
        transition: 0.3s;

        i{
            line-height: 20px;
        }

        &:focus{
            outline:0;
        } 

        &:hover{
            text-decoration: none;
            background: #868686;
            color: #fff;
        } 

        span{
            display: block;
            font-size: 10px;
            margin-top: -5px;
        }
    }
}