<form [formGroup]="contactForm" (ngSubmit)="onSubmit()"> 
    <perfect-scrollbar style="max-height: 310px;" [config]="config">
        <app-messages></app-messages>
        <label for="">
            <i class="fa fa-user"></i> Name:
        </label> 
        <input 
            type="text" 
            formControlName="firstName">    
        <div *ngIf="f.firstName.invalid && (f.firstName.dirty || f.firstName.touched)"
            class="alert alert-danger"> 
            <div *ngIf="f.firstName.errors.required">
                This field is required.
            </div> 
        </div>
        <label for="">
            <i class="fa fa-user"></i> Last Name:
        </label> 
        <input 
            type="text"  
            formControlName="lastName" > 
        <div *ngIf="f.lastName.invalid && (f.lastName.dirty || f.lastName.touched)"
            class="alert alert-danger"> 
            <div *ngIf="f.lastName.errors.required">
                This field is required.
            </div> 
        </div>
        <label for="homeNumber">
            <i class="fa fa-home"></i> Home Number:
        </label>  
        <input 
            type="number"  
            id="homeNumber" 
            formControlName="homeNumber"/> 
        <div *ngIf="f.homeNumber.invalid && (f.homeNumber.dirty || f.homeNumber.touched)"
            class="alert alert-danger"> 
            <div *ngIf="f.homeNumber.errors.required">
                This field is required.
            </div> 
        </div>
        <label for="officeNumber">
                <i class="fa fa-building"></i> Office Number:
        </label> 
        <input 
            type="number"  
            id="officeNumber" 
            formControlName="officeNumber"/> 
        <div *ngIf="f.officeNumber.invalid && (f.officeNumber.dirty || f.officeNumber.touched)"
            class="alert alert-danger"> 
            <div *ngIf="f.officeNumber.errors.required">
                This field is required.
            </div> 
        </div>
        <label for="workNumber">
            <i class="fa fa-briefcase"></i> Work Number
        </label> 
            <input 
                type="number"  
                id="workNumber" 
                formControlName="workNumber"/> 
        <div *ngIf="f.workNumber.invalid && (f.workNumber.dirty || f.workNumber.touched)"
            class="alert alert-danger"> 
            <div *ngIf="f.workNumber.errors.required">
                This field is required.
            </div> 
        </div>
    </perfect-scrollbar>   
    <div class="text-center">
        <input 
        type="submit"
        [disabled]="!contactForm.valid" 
        class="form-control btn" 
        value="Update"> 
    </div> 
</form> 
<app-bottom-nav></app-bottom-nav>
    