<div class="row mb-3">
    <div class="col-12">
        <div class="input-group mb-3">
            <input 
                type="text" 
                class="form-control" 
                placeholder="Search" 
                [(ngModel)]="searchBox">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
        </div> 
        <perfect-scrollbar style="max-height: 357px;" [config]="config">
            <div id="contact-list-wrapper">
                <ul>
                    <li *ngFor = "let user of listOfUsers | filter:searchBox; let i = index " >
                        <a [routerLink]="['/veiw-contact', i]">{{user.firstName}} {{user.lastName}}
                        <p><i class="fa fa-home"></i> {{user.phoneNumbers.homeNumber}}</p>    
                        </a>
                    </li>
                </ul>
            </div>
        </perfect-scrollbar>
    </div> 
</div> 
 
